.option-container {
    position: relative;
    display: inline-block;
  }

  .option-label {
    display: flex;
    width: 500px;
    height: 35px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

  .option-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 500px;
  }

  .option-list li {
    padding: 5px;
    cursor: pointer;
  }

  .option-list li:hover {
    background-color: #f0f0f0;
  }

  .quantity-label {
    display: inline-block;
    width: 100px;
    margin-left:5px;
  }

  .quantity-input {
    width: 50px;
  }

  .option-item {
    border-bottom: 1px solid;
    background-color: #f3f3f3ee;
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .option-item .remove-button {
    cursor: pointer;
    padding: 5px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 3px;
  }

  .price {
    font-weight: bold;
    margin-top: 10px;
  }

  .remove-button{
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  #priceContainer{
    display: none;
    width: 500px;
  }

  .priceContainer2{
    display: flex;
    justify-content:flex-end;
  }
  
  .I_title h4 {
  margin-left: 10px;
  font-weight: 600;
  }