<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gmt.medical.mapper.Cartmapper">
	<insert id="addcatedata">
		insert into cart
		(product_id, product_name, product_price , product_count , cart_option, user_id, image_path)
		values (#{product_id}, #{product_name}, #{product_price},
		#{product_count}, #{cart_option}, #{user_id}, #{image_path});
	</insert>
	
	 <select id="addToCart" resultType="gmt.medical.model.CartVO">
        SELECT * FROM cart WHERE user_id = #{user_id}
    </select>
    
    <delete id="additemdelete">
   		DELETE FROM direct_order
		WHERE user_id = #{user_id}
    </delete>
    
    <insert id="additemdata">
		insert into direct_order 
		(product_id, product_name, product_price , product_count , cart_option, user_id, image_path)
		values (#{product_id}, #{product_name}, #{product_price},
		#{product_count}, #{cart_option}, #{user_id}, #{image_path});
	</insert>
	
	<select id="getitemdata" resultType="gmt.medical.model.CartVO">
        SELECT * FROM direct_order WHERE user_id = #{user_id}
    </select>
</mapper>