<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="gmt.medical.mapper.Product_add_mapper">
	<insert id="saveProduct"
		parameterType="gmt.medical.model.Product_add">
		INSERT INTO product_info (category_id, product_image, product_name, product_price, product_count, product_option)
		VALUES (#{category_id}, #{product_image}, #{product_name}, #{product_price}, #{product_count}, #{product_option})
	</insert>
</mapper>