@charset "UTF-8";

nav {
  background-color: #f1f1f1;
  text-align: center; /* 가운데 정렬을 위해 추가 */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block; /* 가운데 정렬을 위해 추가 */
}

li {
  display: inline; /* 가운데 정렬을 위해 수정 */
}

li a {
  display: inline-block; /* 가운데 정렬을 위해 수정 */
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}

/* 드롭다운 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left; /* 드롭다운 내용 왼쪽 정렬을 위해 추가 */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


