@charset "UTF-8";
:root {
    --content-max-width: 75rem;
}

html {
    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
}

a:link, a:visited {
    color: unset;
    text-decoration: unset;

}

body {
    width: 100%;
    min-height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: flex-start;
    margin: unset;
    position: absolute;
}

input {
   /*  width: 100%; */
   /*  appearance: none; */
    background-color: unset;
    border: unset;
    border-image: unset;
    box-sizing: border-box;
    color: unset;
    font: unset;
    margin: unset;
    outline: unset;
    padding: unset;
}
.input-primary input[type="checkbox"] {
  border: none;
}

.input-primary input[type="checkbox"]:focus {
  outline: none;
}
ol, ul {
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
}
body > .header {
    width: 100%;
    align-items: center;
    border-bottom: 0.0625rem solid rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .header > .top-bar {
    width: 100%;
    align-items: center;
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    justify-content: flex-start;
    padding: 0.5rem 0;
}

body > .header > .top-bar > .list {
    width: var(--content-max-width);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

body > .header > .top-bar > .list > .spring {
    flex: 1;
}

body > .header > .top-bar > .list > .item + .item {
    margin-left: 0.75rem;
}

body > .header > .search {
    width: var(--content-max-width);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
}

body > .header > .search > .logo-container > .logo {
    height: 2.5rem;
}

body > .header > .search > .search-form {
    left: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
}

body > .header > .search > .search-form > .keyword-input-container > .keyword-input {
    width: 30rem;
    border: 0.125rem solid rgb(66, 132, 263);
    font-size: 1rem;
    padding: 0.7rem 3rem 0.7rem 1rem;
}

body > .header > .search > .search-form > .search-button {
    top: 50%;
    right: 1rem;
    appearance: none;
    background-color: unset;
    border: none;
    cursor: pointer;
    margin: unset;
    padding: unset;
    position: absolute;
    transform: translateY(-50%);
}

body > .header > .search > .search-form > .search-button > .icon {
    color: rgb(66, 132, 246);
    font-size: 1.125rem;
}

body > .header > .search > .my {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

body > .header > .search > .my > .item + .item {
    margin-left: 1.5rem;
}

body > .header > .search > .my > .item > .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

body > .header > .search > .my > .item > .link > .icon {
    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    margin-bottom: 0.425rem;
}

body > .header > .search > .my > .item > .link > .count {
    top: -0.625rem;
    right: 0.125rem;
    height: 1.25rem;
    align-items: center;
    background-color: rgb(66, 132, 243);
    border-radius: 10rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    font-weight: 600;
    justify-content: center;
    padding: 0 0.375rem;
    position: absolute;
}
body {
    background-color: rgb(254, 254, 254);
    padding: 3rem;
}

body > .register-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .logo-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.section-title {
    padding: 30px 0px 10px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 0.0625rem;
    color: #111;
    margin-right: 15rem;
}

body > .register-form > .logo-container > .logo {
    height: 2.5rem;
}

body > .register-form > .input-container {
    align-items: stretch;
    border: 0.0625rem solid rgb(203, 203, 203);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.75rem;
}

body > .register-form > .input-container:focus-within {
    border-bottom: 0.0625rem solid rgb(66, 132, 243);
}

body > .register-form > .input-container > .icon {
    width: 3rem;
    height: 2.75rem;
    align-items: center;
    background-color: rgb(249, 249, 249);
    border-right: 0.0625rem solid rgb(203, 203, 203);
    color: rgb(203, 203, 203);
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .register-form > .input-container > .input {
    width: 20rem;
    padding: 0.8rem;
}

body > .register-form > .sub {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body > .register-form > .sub > .autosign-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    user-select: none;
    width: 15rem;
}

body > .register-form > .sub > .autosign-container > .checkbox {
    display: none;
}

body > .register-form > .sub > .autosign-container > .checker {
    width: 1.125rem;
    height: 1.125rem;
    border: 0.0625rem solid rgb(203, 203, 203);
    position: relative;
}

body > .register-form > .sub > .autosign-container > .checker > .icon {
    top: calc(50% + 0.25rem);
    left: 50%;
    color: rgb(66, 132, 243);
    font-size: 0.8rem;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
}

body > .register-form > .sub > .autosign-container > checkbox:checked + .checker > .icon {
    top: 50%;
    opacity: 1;
}

body > .register-form > .sub > .autosign-container > .text {
    top: -0.125rem;
    margin-left: 0.5rem;
    position: relative;
    white-space: nowrap;
}

body > .register-form > .sub > .link {
    color: rgb(66, 132, 243);
}

body > .register-form > .button {
    width: 23.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.75rem;
    padding: 0.75rem 0;
    text-align: center;
    user-select: none;
}

body > .register-form > .button-register {
    background-color: rgb(66, 132, 243);
    color: rgb(255, 255, 255);
}


body > .register-form > .button.register:hover {
    filter: brightness(110%);
}

body > .register-form > .button.register:active {
    filter: brightness(90%);
} 

body > .register-form > .button.register {
    border: 0.0625rem solid rgb(209, 209, 209);
    padding: 1rem 3rem;
    font-weight: 700;
    text-decoration: none;
    font-size: 17px;
    background-color: #0074e9;
    color: white;

}

body > .register-form > .line {
    border-top: 0.0625rem solid rgb(209, 209, 209);
    margin-top: 0.75rem;
    display: block;
    width: 370px;
    height: 0;
    padding: 0;
}

body > .register-form > .copyright {
    font-size: 0.7rem;
    margin-top: 1.5rem;
    text-align: center;
}